:root {
  --text1: #111111;
  --text2: #01baef;
  --text3: #3373ab;
  --main_bg: #f7f7f2;
}

@font-face{
	font-family: atkinson-hyperlegible;
	src: url("Web Fonts/WOFF/Atkinson-Hyperlegible-Regular-102.woff");
}
@font-face{
	font-family: atkinson-hyperlegible;
	src: url("Web Fonts/WOFF/Atkinson-Hyperlegible-Bold-102.woff");
	font-weight: bold;
}
@font-face{
	font-family: atkinson-hyperlegible;
	src: url("Web Fonts/WOFF/Atkinson-Hyperlegible-Italic-102.woff");
	font-style: italic;
}
@font-face{
	font-family: atkinson-hyperlegible;
	src: url("Web Fonts/WOFF/Atkinson-Hyperlegible-BoldItalic-102.woff");
	font-weight: bold;
	font-style: italic;
}

body{
  padding-bottom: 20px;
  padding-top: 20px;
}

.main_container{
  font-family: atkinson-hyperlegible;
  padding: 2%;
  margin: auto;
  width: 80%;
  color: var(--text1);
  border-width: 2px;
  border-color: var(--text1);
  box-shadow: 3px 3px 5px 5px var(--text1);
  background-color: var(--main_bg);
  font-size: 18px;
}

div.swappy{
	float: right;
	width: 200px;
	height: 275px;
	margin-left: 10px;
	margin-bottom: 10px;
	background: url("media/amath_low.jpg") no-repeat;
	background-size: 200px 275px;
}
img.hidemeonhover{
	width: 200px;
	height: 275px;
}
img.hidemeonhover:hover{
	opacity: 0;
}
div.quote{
  text-align: center; 
  padding: 10px;
}

.rich{
  cursor: url("media/mclaughlin_rich_2023_mini.jpg"), auto;
}
.roberto{
  cursor: url("media/camassa_roberto_2023_mini.jpg"), auto;
}

a:link {
	color: var(--text2);
}
a:visited {
	color: var(--text3);
}
a:hover {
	color: var(--text3);
}


/* ------------------- */

